.docsLayout
  @apply flex pt-[132px] w-full relative
  background: url(../../public/assets/images/dumpster-inside.jpg) no-repeat 0 100%
  background-size: 100% auto

.docsFooter
  @apply absolute bottom-[10px] left-[28px] text-[10px] rotate-[-90deg]
  transform-origin: 0 100%
  letter-spacing: 0.02em

.leftNav
  @apply w-[300px] flex-[0_0_200px] fixed md:static right-[100%] md:left-[0] md:right-[auto] top-[0] z-[999] px-[1rem] pt-[100px] md:pt-[20px] transition-all
  min-height: 100vh
  //background: linear-gradient(0deg, var(--color-mfr-glow), #495638)
  body:global(.slide-menu-open) &
    @apply mr-[-300px] bg-[#495638]
  //background-color: var(--color-mfr-glow)
  //color: var(--color-dark)
  ul
    list-style: none
    margin: 0
    padding: 0
    position: sticky
    top: 80px
    ul
      padding-top: 6px
      padding-left: 10px
    li
      margin-bottom: 0.5rem
      line-height: 1
      user-select: none
      a
        @apply block text-[18px] text-[#fff] flex items-center gap-[6px] 
        //font-family: "SKT"
        line-height: 1
        //letter-spacing: .03em
        text-decoration: none!important
        svg path
          @apply fill-[var(--color-mfr-glow)]
        &:hover, &:active
          color: var(--color-mfr-yellow)
          //text-decoration: underline!important
          svg path
            @apply fill-[var(--color-mfr-yellow)]
        &.active
          @apply rotate-[-1deg] scale-[1.2]
          transform-origin: 0 100%
          color: var(--color-mfr-yellow)
          font-weight: bold
          cursor: default 
          //text-decoration: underline!important
          svg path
            @apply fill-[var(--color-mfr-yellow)]

.mainContent
  @apply flex-1 mt-[-40px] flex flex-col items-center
  padding: 2rem
  .mainTitle
    @apply w-full max-w-[690px] text-left
    & + .mainArticle
      @apply mt-[-50px]
    h1
      @apply text-[#fff] relative inline-block md:mt-[80px] mt-[20px]
      text-shadow: 0 2px 0 var(--color-mfr-glow)
      line-height: 1.1
      &:after
        @apply block absolute top-[-8px] right-[10px] w-[140px] h-[120%]
        content: ""
        background: url(../../public/assets/images/drip-three-heavy.svg) no-repeat 100% 0
        body:global(.tunnel-talk) &
          content: none
  .mainArticle
    @apply w-full max-w-[690px] pt-[20px]
    h1,h2,h3,h4,h5,h6
      @apply pt-[40px]
  .bannerContainer
    @apply block max-w-[890px] md:mt-[-140px]

.iconTitle
  @apply flex items-center gap-[6px]

.postDetails
  code:nth-child(2n + 1)
    @apply rotate-[-2deg] relative mr-[-4px] z-[1] text-[24px] pr-[20px]
    filter: brightness(120%)
    box-shadow: 0 2px 4px rgba(0,0,0,.4)
    letter-spacing: -0.03em
    font-family: "Instant Karma"
    line-height: 12px
    b
      @apply inline-block pr-[2px] pt-[4px]
      font-weight: normal
  code:nth-child(2n + 2)
    @apply pl-[14px]
    letter-spacing: -0.03em
    font-weight: bold

.indexList
  @apply flex flex-wrap items-center w-full text-[28px] text-[#fff] pt-[40px]
  padding-left: 0!important
  font-family: "SKT"
  letter-spacing: 0.03em
  & > *
    @apply flex-1 flex flex-col items-center
  li
    @apply mx-[1%] my-[20px] flex-[0_1_31.33%]
    &::before
      content: none!important
    a
      @apply flex flex-col items-center gap-[5px] text-[#fff]
      text-shadow: 0 2px 0px var(--color-dark)
      text-decoration: none!important
      svg path
        @apply fill-[#fff]
      &:hover, &:active
        @apply text-[var(--color-mfr-glow)]
        svg path
          @apply fill-[var(--color-mfr-glow)]
    &.indexFolder
      @apply basis-[100%] items-start
      h2
        @apply text-[var(--color-mfr-glow)]

.pagination
  @apply w-full flex items-start justify-between max-w-[690px] pt-[40px] pb-[60px] min-h-[340px]
  a
    @apply flex flex-col items-center justify-center text-[#fff] text-[28px]
    font-family: "SKT"
    text-decoration: none!important
    letter-spacing: 0.05em
    svg
      @apply mb-[5px] w-[100px]
    &.prevLink, &.nextLink
      svg path
        @apply fill-[#fff]
      &:hover, &:active
        @apply text-[var(--color-mfr-glow)]
        svg path
          @apply fill-[var(--color-mfr-glow)]

.rightToc
  @apply text-[18px] flex-[0_0_14w0px] hidden
  padding: 2rem 1rem 1rem
  min-height: 100vh
  a
    @apply text-[#fff] text-[16px] block px-[8px] py-[3px]
    line-height: 18px
    font-weight: 500
    max-width: 200px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &.active
      color: var(--color-mfr-yellow)!important
      font-weight: bold
  ul
    list-style: none
    margin: 0
    padding: 0
    position: sticky
    top: 120px
    li
      margin-bottom: 0.25rem
    .level2
      padding-left: 0
      a
        @apply text-[#d9f9d7]
        font-weight: bold
    .level3
      padding-left: .5rem
      a
        @apply text-[#d9f9d7]
    .level4
      padding-left: 1rem
      a
        @apply text-[#aff4ab]

//.navGroup
  //@apply

ul
  li.hasChildren
    @apply mt-[20px]
    & + li.hasChildren
      @apply mt-[0px]
    &.expanded
      @apply mt-[20px] mb-[20px]
      //.navTitle
        //@apply text-[var(--color-mfr-yellow)]
      //.toggleIcon
        //@apply text-[var(--color-mfr-yellow)]
    &.activeFolder
      .navTitle
        @apply text-[#555] cursor-default
        font-weight: bold
      //.navFolder
      .toggleIcon
        @apply opacity-0 text-[var(--color-mfr-yellow)]

.navFolder
  @apply flex cursor-pointer text-[#fff] gap-[4px]
  //letter-spacing: .05em
  //font-family: "SKT"
  .navTitle
    @apply text-[18px] capitalize text-[#fff]
    &:hover, &:active
      color: var(--color-mfr-yellow)
    //font-weight: bold
    //font-family: "Instant Karma"
    //letter-spacing: .05em
  .toggleIcon
    @apply text-[var(--color-mfr-glow)] text-[20px]
    
    line-height: 20px
    font-family: "Instant Karma"


@screen lg
  .leftNav
    @apply flex-[0_0_240px]
  .rightToc
    @apply block flex-[0_0_240px]
    a
      max-width: 240px
