@reference 'tailwindcss'

.header
  @apply w-full flex flex-nowrap items-center absolute top-0 left-0 z-[800] px-4 md:px-8
  .pipe
    @apply absolute top-0 right-0 md:right-[-60px] w-[40px] md:w-[60px] md:mt-[5px] transition-[right]
    body:global(.menu-open) &
      @apply md:right-[-10px]
  body:global(.docs) &
    @apply pl-0
    .logo
      @apply ml-[-10px]
  span
    &.tagline
      @apply flex-1 text-2xl md:text-3xl text-[#59fd53]
      font-family: "Instant Karma", sans-serif
      //text-shadow: 0 2px 4px rgba(0,0,0,.5)
      span
        @apply inline-block px-1
      body:global(.docs) &
        @apply hidden
    &.menu
      @apply text-right flex-1 flex items-center justify-end gap-[22px]
      .profileCard
        @apply relative
      a, button
        @apply h-[48px] flex items-center justify-center transition-all
        &:active, &:hover
          @apply scale-[1.1] rotate-[-1deg]
        img
          @apply w-[auto] h-[40px]
      .openProfile 
        svg
          @apply w-[36px] h-[auto] max-h-[36px]
      .openMenu 
        svg
          @apply w-[36px] h-[auto] max-h-[36px]
      //&:hover
        //.pipe
          //@apply right-[0]
  .logo
    @apply order-[-1] md:order-0 ml-[-40px] md:ml-[0px] mr-[5px] md:mr-[0]
    svg
      @apply w-[80px] h-[auto] md:w-full

.openMenu
  @apply relative cursor-pointer z-[995]
  body:global(.menu-open) &
    @apply mr-6

.openDocs
  svg
    @apply w-[27px] h-[27px]

.openSlideMenu
  @apply fixed left-[-40px] top-[80px] w-[70px] cursor-pointer transition-[left] block md:hidden
  &:hover, &:active
    @apply left-[-34px]
  img
    @apply w-full h-auto
  body:global(.slide-menu-open) &
    @apply left-[250px]
    transform: scaleX(-1)
  body:not:global(.docs) &
    @apply hidden

.sticker
  @apply fixed top-0 left-0 z-[999999] w-full h-[40px] bg-[#59fd53] text-[#0a0a0a] text-[22px]
  background: url(../../public/assets/images/edge.svg) no-repeat 50% 50%
  background-size: 100% 100%
  font-family: "SKT"
  a
    @apply absolute top-[10px] left-[33%] text-[#0a0a0a]
    line-height: 16px
    text-decoration: none!important