@reference 'tailwindcss'

.background
  @apply absolute -z-1 -top-[20vw] left-0 w-full
  img
    @apply w-full

.banner
  @apply pt-[4vw] flex flex-col justify-center items-center min-h-[100vh] bg-cover
  background: url("../../public/assets/images/rat-eyes-bg.jpg") no-repeat 50% 50%
  &.bannerKitchen
    background: url("../../public/assets/images/dirty-kitchen-bg.jpg") no-repeat 50% 50%
  .dimmer
    @apply absolute top-0 left-0 w-full h-full
    background: linear-gradient(0deg, #0a0a0a, rgba(0,0,0,0) 45%, #000)
  img.egg
    @apply relative z-[3] w-full h-auto max-w-[600px] max-h-[600px]
    transform: translate(-30%, -10%)
  .truck
    @apply max-w-[35vw]
  .links
    @apply absolute flex flex-col md:flex-row items-center justify-center pl-[30%] md:pl-0 gap-[8vw] md:gap-[45%] top-[48%] z-[5]
    transform: translateY(-50%)
    a
      @apply relative w-[200px] md:w-[45vw] lg:w-[35vw] transition transition-transform text-center text-[#fff] text-[60px] md:text-[11vw]
      font-family: "SKT"
      line-height: 1.1
      text-decoration: none!important
      letter-spacing: 0.03em
      text-shadow: 0 6px 6px rgba(0,0,0,.5), 0 4px 0 #0a0a0a
      transition: color .3s, scale .3s
      &:nth-child(2)
        &:before
          @apply block absolute w-[60px] md:w-[100px] h-[60px] right-[5%] top-[10px] z-[1] rotate-[5deg]
          background: url(../../public/assets/images/ff.svg) no-repeat 50% 50%
          background-size: 100% auto
          content: ""
        &:after
          @apply block absolute w-[40px] md:w-[60px] h-[60px] left-[5%] bottom-[-30px] z-[1]
          background: url(../../public/assets/images/icon-base.svg) no-repeat 50% 50%
          background-size: 100% auto
          content: ""
      &:nth-child(1)
        span
          @apply rotate-[2deg]
        &:before
          @apply block absolute w-[40px] md:w-[60px] h-[60px] left-[20%] top-[-30px] z-[1]
          background: url(../../public/assets/images/icon-chrome.svg) no-repeat 50% 50%
          background-size: 100% auto
          content: ""
        &:after
          @apply block absolute w-[40px] md:w-[60px] h-[60px] right-[8%] bottom-[30px] z-[1]
          background: url(../../public/assets/images/icon-chrome-ext.svg) no-repeat 50% 50%
          background-size: 100% auto
          content: ""
      span
        @apply block rotate-[-2deg]
      &:hover, &:active
        @apply scale-[1.1] text-[var(--yellow)]
        animation: jiggle 1s infinite
      &.login
        &:before
          content: none!important
        :global(.ock-connect)
          @apply w-[200px] h-[200px] text-[40px]
        :global(.ock-wallet)
          @apply absolute top-[50%] left-[50%] z-10
          transform: translate(-50%, -50%)
  .silhouette
    @apply absolute bottom-[0] md:bottom-[-10%] left-0 w-full z-[4]
    img
      @apply w-[160%] md:w-full max-w-[160%] md:max-w-full mx-[-30%] md:mx-[0] md:w-full
    &:after
      position: absolute
      content: ""
      display: block
      width: 100%
      height: 50vh
      left: 0
      top: 100%
      margin-top: -2px
      background: linear-gradient(180deg, #000, #0a0a0a)
.alleyWanted
  @apply absolute bottom-[60.6vw] right-[10.6vw] w-[7vw] h-auto
.alleyTv
  @apply absolute bottom-[35vw] left-[10vw] w-[19vw] h-auto z-[3]
.alleyGloco
  @apply absolute bottom-[17vw] left-[-1vw] w-[10vw] h-auto z-[2] rotate-[-5deg]
.alleyFooter
  @apply absolute bottom-[13.5vw] left-[32vw]
  //opacity: .5
  animation: blink 1s infinite ease-in-out
  .alleyFooterImage
    @apply w-[42.8vw]
.alleyForeground
  @apply relative
.alleySteam
  @apply fixed top-0 left-0 w-full h-[150%] z-[99991] inset-0 flex items-center justify-center overflow-hidden mix-blend-lighten
  pointer-events: none
  video
    @apply w-full h-full object-cover

.alleyBackground
  @apply w-[50%] h-[70%] absolute top-0 left-[25%] z-[-5]
  //outline: 2px solid blue
  background: url(../../public/assets/images/alley-background-thin-mc.jpg) no-repeat 50% 0%
  background-size: auto 100%

.foregroundImage
  @apply w-full h-auto
.neonZ
  @apply w-[13.75vw] h-auto absolute top-[39.2vw] left-[17vw]
  animation: blinker 12s infinite

@keyframes blinker
  0%, 9.9%, 15%, 24.9%, 27%, 28%, 28.7%
    opacity: 1
  10%, 14.9%, 25%, 26.9%, 28.1%, 28.6%
    opacity: 0

.alleyContent
  @apply w-full max-w-[52vw] mx-auto absolute left-[40vw] top-[20vw] z-[99] text-[4.5vw]
  line-height: .9
  //transform: translateX(-50%)
  font-family: "Instant Karma"
  p
    text-shadow: 0 4px 0 #0a0a0a, 0 2px 16px rgba(0,0,0,1), 0 2px 8px rgba(0,0,0,1)
  hr
    @apply my-[5vw]
  h2
    @apply text-[6vw]
    b
      @apply inline-block ml-[-0.12em] pr-[0.06em] relative
      font-family: "Instant Karma"
    span
      @apply text-[#59fd53]
  p, h2
    @apply mb-[3.5vw]
  .emojiList
    @apply pl-[2vw] relative
    span
      @apply absolute top-[50%] right-[100%]
      transform: translateY(-50%)

.centered
  @apply w-full flex flex-col items-center justify-center 

.feature
  &:global(.unavailable)
    @apply text-[#aaa]
    //opacity: .8
    //filter: grayscale(1)
    pointer-events: none
    svg
      display: none
    &:hover, &:active
      color: #fff!important

.iconImage
  @apply inline-block w-[3vw] h-[3vw] bg-[#59fd53] rounded-md


.spriteMap
  @apply absolute w-full h-full z-[1] bottom-0 left-0
  background: url(../../public/assets/images/alley-foreground-bg-stacked-dump.jpg) no-repeat 0 100% / 100vw auto
  &.spriteBurrow
    @apply left-auto right-0 bottom-[23vw] w-[20vw] h-[20vw]
    background-position: 100% 60%
  &.spriteCraft
    @apply left-auto right-[33.8vw] bottom-[41.5vw] w-[10vw] h-[27vw]
    background-position: 62% 18%
  &.spriteDeepDive
    @apply left-[22vw] bottom-[38vw] w-[19vw] h-[25vw]
    background-position: 27.4% 27.6%
  &.spriteGloco
    @apply left-[0] bottom-[49vw] w-[18vw] h-[23vw]
    background-position: 0 11%

.feature
  @apply absolute text-[#fff] text-[4vw] z-[10]
  line-height: 1
  font-family: "SKT"
  letter-spacing: 0.03em
  text-shadow: 0 4px 0 #0a0a0a
  text-decoration: none!important
  transition: color 0.3s
  user-select: none
  transform: translateX(-50%)
  .textGreen
    @apply text-[#59fd53]
  &:hover, &:active
    @apply text-[#ffff0f]
    svg
      @apply fill-[#ffff0f]
  .caption
    @apply text-[.4em] absolute top-[50%] left-[50%] text-center text-[#59fd53] px-[.26em] py-[.8em] rotate-[-5deg] mt-[-.2em]
    //background-color: rgba(0,0,0,.5)
    font-family: "Instant Karma"
    transform: translate(-50%, -50%)
    letter-spacing: -0.03em
    text-shadow: 0 2px 0 #0a0a0a, -2px 2px 0 #0a0a0a, 2px 2px 0 #0a0a0a, 0 -2px 0 #0a0a0a, 0 3px 5px rgba(0,0,0,1)
    white-space: nowrap
    transition: color .3s
  &:hover, &:active
    .caption
      @apply text-[#fff]

  svg
    @apply w-[1vw] h-[5vw] absolute left-[50%] top-[2.3vw] ml-[-0.5vw] fill-[#ffff0f] rotate-[90deg]
    animation: bobTight 1s infinite ease-in-out

  &.vibes
    @apply bottom-[79vw] left-[50vw] rotate-[4deg]

  &.massions
    @apply bottom-[56vw] right-[26vw] rotate-[5deg]
    .rotater
      @apply scale-[1.15]

  &.dumpster
    @apply bottom-[66vw] left-[33vw] rotate-[-5deg]
    .rotater
      @apply scale-[1.3]

  &.gloco
    @apply bottom-[16vw] left-[16vw] rotate-[-5deg]
    .rotater
      @apply scale-[2]

  &.arcade
    @apply bottom-[52vw] left-[15vw] rotate-[-6deg]
    .rotater
      @apply scale-[1.5]

  &.dirtydozen
    @apply bottom-[76vw] right-[13vw] rotate-[-10deg]
    .rotater
      @apply scale-[1.3]

  &.dailytwo
    @apply bottom-[58vw] left-[62vw] rotate-[6deg]
      
  &.stash
    @apply bottom-[45vw] right-[5vw] rotate-[-3deg]
    .rotater
      @apply scale-[1.7]

  &.enter
    @apply absolute bottom-[32vw] left-[53.3vw]
    .rotater
      @apply scale-[2.5]

.eggCount
  @apply absolute bg-[#0a0a0a] h-[1.6em] text-[#fff] text-[.4em] py-[.3em] pr-[.5em] top-[-1.7em] right-[-1em] z-[10] rotate-[6deg] flex items-center justify-center rounded-lg gap-[.25em]
  border: .06em solid #59fd53
  line-height: .8em
  text-decoration: none!important
  box-shadow: 0 .13em .26em rgba(0,0,0,.4),  0 .13em 0 #32932f
  transition: background-color 0.3s, color 0.3s
  letter-spacing: -0.03em
  font-family: "Instant Karma"
  white-space: nowrap
  span
    @apply h-[.8em] inline-block pt-[.13em]
    //text-shadow: 0 .08em 0 #1d571a
  img
    @apply w-[2em] h-auto relative top-[-.02em] left-[-.2em] mr-[-.1em] bg-[#59fd53] rounded-md rotate-[-6deg]
    border: 2px solid #32932f
    border-width: 0 0 .13em 0
    &.brandF
      @apply bg-[#6011fd] border-[#490dc0]
    &.brandMfr
      @apply bg-[#ffff0f] border-[#b8b80b]
  &.product
    @apply top-[50%] left-[50%] right-auto pl-[1vw]
    transform: translate(-50%, -50%) scale(.7) rotate(-3deg)

@keyframes bobTight
  0%, 90%
    margin-bottom: 0
  50%
    margin-top: .5vw

@keyframes bob
  0%, 90%
    margin-top: 0
  50%
    margin-top: -1vw

@keyframes blink
  0%, 90%
    //opacity:.5
    bottom: 13.5vw
  50%
    //opacity: 1
    bottom: 14vw
.blinkGlitch
  animation: blinkGlitch 4s infinite    
@keyframes blinkGlitch
  0%, 10%, 13%, 15%, 16%, 28%, 29.7%, 100%
    opacity: 1
  10.1%, 12.9%, 15.1%, 15.9%, 28.1%, 29.6%
    opacity: 0

.biglink
  @apply relative mb-12 py-[18px] px-[24px] transition-all flex items-center text-[#0a0a0a] text-[60px] bg-[var(--green-alt)] rounded-lg
  font-family: "SKT"
  //text-shadow: 0 4px 0px #0a0a0a
  letter-spacing: 0.02em
  transition: color .3s transform .3s
  background: transparent url(../../public/assets/images/sq-button.svg) no-repeat 0 50%
  background-size: 100% 100%
  img
    @apply max-w-[100px] ml-[-18px] mr-[-10px] inline-block relative
  &:hover, &:active
    @apply scale-[1.1] rotate-[2deg]
    text-decoration: none!important
    img
      @apply rotate-[-2deg]
  &:after
    @apply absolute top-[-1%] left-[100%] w-[30px] h-[100%] transition-[left]
    content: ""
    background: url(../../public/assets/images/arrowhead.svg) no-repeat 0 50%
    background-size: 100% 100%
  &:hover, &:active
    &::after
      @apply left-[102%]
  &.bigLinkLeft 
    &::after
      @apply left-[0] ml-[-30px] rotate-[180deg]
    &:hover, &:active
      &::after
        @apply left-[-2%]
  &.noarrow
    &:after
      content: none

@keyframes jiggle
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(2deg)

.carousel
  @apply block relative flex flex-col items-center justify-center text-center pb-12 pt-24 z-[5]
  background: url(../../public/assets/images/rathead-glow-red.svg) no-repeat 60vw 10vw
  background-size: 35vw auto
  font-family: "Instant Karma"
  h2
    @apply rotate-[-2deg] text-[12vw] md:text-[8vw] pb-[2vw]
    line-height: 1
  p
    @apply max-w-[90vw] md:max-w-[50vw] text-[#59fd53] text-[6vw] md:text-[4vw]
    line-height: 1
    letter-spacing: 0.02em
    &:nth-child(2n + 1)
      @apply mt-2
  .gallery
    @apply mt-10 w-full
    img
      @apply w-full

.cta
  @apply block relative flex flex-col items-center justify-center text-center py-12 z-[5]
  h3
    @apply text-[#fff]
  p
    @apply max-w-[90vw] md:max-w-[45vw] text-[#59fd53] text-[6vw] lg:text-[3vw]
    line-height: 1
    letter-spacing: 0.02em
    font-family: "Instant Karma"

.steps
  @apply relative flex flex-col max-w-[1200px] mx-auto w-full pt-16 z-[5]
  background: url(../../public/assets/images/nyc.svg) no-repeat 25% 0
  background-size: 30vw auto
  .step
    @apply flex flex-col items-center pb-12
    h3
      @apply text-[12vw] lg:text-[64px] text-[#fff]
      font-family: "SKT"
    p
      @apply text-[2vw] text-[#59fd53] text-center
      line-height: 2vw
    img
      @apply max-w-[420px] 
    &:nth-child(1)
      h3
        @apply rotate-[-5deg]
    &:nth-child(3)
      h3
        @apply rotate-[-5deg]
      img
        @apply w-full max-w-[360px]

.pipe
  @apply relative mt-12 mb-[0px] md:mb-[-16vw] w-full flex justify-end
  background: url(../../public/assets/images/mfr.svg) no-repeat 50vw 15vw
  background-size: 42vw 28vw
  img
    @apply w-[75%]

.oegg
  @apply inline-block relative px-2
  &:after
    @apply absolute block top-0 left-0 w-full h-full mt-[-5px]
    content: ""
    user-select: none
    background: url(../../public/assets/images/oegg.png) no-repeat 50% 50%
    background-size: 108% auto

//@variant sm

@variant md
  .banner
    img.egg
      transform: translate(0, -5%)

@variant lg
  .steps
    @apply flex-row pb-16
    .step
      @apply basis-[33.33%] pb-0
      img
        @apply max-w-[340px]
      &:nth-child(1)
        h3
          @apply rotate-[-5deg]
        img
          @apply max-w-[300px]
      &:nth-child(3)
        h3
          @apply rotate-[5deg]
        img
          @apply w-full max-w-[240px]

.features
  @apply text-[24px] relative
  li
    @apply md:py-[2px] md:py-[1vw] py-[2px] md:text-[1.5vw] text-[18px] flex items-center text-[#0a0a0a] rounded-full
    text-shadow: none
    line-height: 1
    font-weight: bold
    //font-family: "Instant Karma"
    white-space: nowrap
    box-shadow: 0 1px 0 #0a0a0a
    &.tight
      @apply py-[3px] text-[16px] md:text-[1.4vw] text-[#f2f2f2] rounded-none
      font-weight: 500
      line-height: 1
      line-height: 1
      font-family: "DM Sans"
      box-shadow: none
      span
        @apply h-[2vw]
      img.iconImage
        @apply max-w-[16px] max-h-[16px] p-[2px]
    &.barItem
      @apply bg-[#59fd53] mb-[2px]
      &.barHighlight
        animation: shimmer 4s linear infinite
        background: linear-gradient(90deg, #59fd53, #bdffba, #59fd53)
        background-size: 200% 100%
        border: 1px solid #40b73c
        border-bottom-width: 3px
    img.iconImage
      @apply max-w-[24px] max-h-[24px] h-auto p-[4px] ml-[4px] mr-[8px]
      background: transparent url('../../public/assets/images/bullet.svg') no-repeat 50% 50%
      background-size: 100% 100%
    h2
      @apply text-[28px] md:text-[3vw] mb-[6px]
      font-weight: normal
      text-shadow: 0 2px 0 #0a0a0a
    h3
      @apply text-[20px] md:text-[2vw] mb-0
      letter-spacing: 0.03em
      font-family: "SKT"
      font-weight: normal
      text-shadow: 0 2px 0 #0a0a0a
    &.listTitle
      @apply mt-[10px] mb-[4px] rounded-none
      box-shadow: none
    & > span
      @apply px-[6px]

@keyframes shimmer
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%